.container {
  background-color: blanchedalmond;
  min-height: 600px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  text-align: center;
}
.container nav {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 10px;
}
.box {
  gap: 10px;
  background-color: grey;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.content {
  width: 300px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 6px;
}
.content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

h2 {
  text-emphasis: 5;
}
p {
  background-color: rgba(244, 244, 245, 0.315);

  /*flex-basis: 20%;*/
}
.content .botones img {
  width: 24px;
  height: 24px;
  padding: 10px;
  border-radius: 50%;
  background-color: #1930b313;
}
.botones a {
  text-decoration: none;
}
.botones:hover {
}
.container .foot img {
  width: 24px;
  height: 24px;
  padding: 10px;
  border-radius: 50%;
  background-color: #1930b313;
}
